# Visual Studio
.vs/
*.user
*.suo

# VSCode
.vscode/

# Build Output
src/**/bin/
**/obj/

# Avalonia Designer/Preview
**/.designer/

# OS
.DS_Store
Thumbs.db

# Logs/Temp
!*.log
*.tmp

# Python legacy artifacts
Legacy/tools/__pycache__/
Legacy/tools/*.pyc

# Legacy scripts output
Legacy/*.log
Legacy/*.tmp

# Payloads/project generated outputs
src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.exe
src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.tmp
src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.d
src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.ihex
src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.o
src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.sym
src/bootloader-payloads/docker-scripts/compiled_payloads/**/build/*
!src/bootloader-payloads/docker-scripts/compiled_payloads/**/build/*.bin
!src/bootloader-payloads/docker-scripts/compiled_payloads/**/*.bin

# Rider
.idea/
*.sln.iml

# Other
*.swp
*.bak
*.old

# Ignore test results
TestResults/

